/*
input[type=text], input[type=password], input[type=email], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid;
    display: inline-block;
    background: #3D3C3C;
    font-family: Roboto;
    color:#FCF7F7;
}
input[type=submit]:hover {
    background-color: lightgrey;
}
label {
    font-family: Roboto;
    font-size: 20px;
}
.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
}
.valid {
    color: green;
}
.invalid{
    color: red;
}
.error-message{
     font-family: Roboto;
     font-size: 20px;
     color:red;
     text-align: center;
 }
.success-message{
    font-family: Roboto;
    font-size: 20px;
    color:red;
    text-align: center;
}
*/

body{
    margin: 0;
    background: ghostwhite;
    background: url("../assets/music3.jpg") no-repeat top center;
    opacity: 70%;
    height: 100%;
    position: relative;
}

.container{
    z-index: 1;
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;

}

/* LOGIN BLOCK */

.login-wrapper{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 20px;
    width: 100%;
}

.login-form{
    width: 100%;
    max-width: 350px;
    background: gainsboro;
    margin: 0 auto;
    height: 550px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(225,225,225,0.16), 0 2px 10px 0 rgba(225,225,225,0.12);
}

.login-form .title-section{
    height: 45%;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

.login-form .title-section:before{
    content: "";
    position: absolute;
    top: -104%;
    left: -35%;
    width: 500px;
    height: 500px;
    border-radius:50% ;
    background: url("../assets/music4.jpg") no-repeat top center;
    background-size: cover;
}

/*
.login-form .title-section h2{
    position: relative;
    padding-top: 8%;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    color: whitesmoke;
}
*/

.login-form .login-section{
    width: 100%;
    height: 55%;
    padding: 30px 50px;
}

.login-form .login-section .input-fields{
    padding-bottom: 10px;
    position: relative;
}

.login-form .login-section .input-fields .input{
    width: 53%;
    position: relative;
    border: none;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 1em;
}

.login-form .login-section input[type=text]:focus{
    background: #fff;
    opacity: 100%;
    outline: 2px solid rebeccapurple;
}



.login-form .login-section .input-fields a{
    position: relative;
    color: #212121;
    right: 55px;
    text-transform: capitalize;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
}

.login-form .login-section .input-fields .fas{
    position: absolute;
    color: #212121;
    left: 12px;
    top: 15px;
    font-size: 0.75em;
    z-index: 1;
}

.btn{
    width: 65%;
    align-items: center;
    background: #212121;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: whitesmoke;
    border-radius: 3px;
}

#submit {
    background-color: #212121;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:3px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    width: 100%;
    margin: auto;
}

#submit:hover {
    border: none;
    padding: 5px;
    background: gray;
    box-shadow: 0px 0px 1px #777;
}
