table{
    background-color: aliceblue;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3), -1px -1px 8px rgba(0,0,0,0.5);
}

tr{
    transition: all 0.2s ease-in;
    cursor: pointer;
}

th, td{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#header{
    background-color: black;
    color: white;
}

tr:hover{
    color: blueviolet;
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3), -1px -1px 8px rgba(0,0,0,0.5);
}

/* media Query */

@media screen and (max-width:768px){
    table{
        width: 90%;
    }
    .search-bar{
        width: 20%;
    }
    .user{
        width: 90px;
    }
    .location{
        width: 60px;
    }
}



/* SEARCH FIELD */
.search-bar{
    position: absolute;
    width: 43%;
    left: 26%;
    top: 0%;
    background-color: black;
    padding: 30px;
    align-items: center;
    z-index: 1;
}

.search-field{
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;

}

.user{
    width: 400px;
}

.search-btn{
    height: 50px;
    width: 50px;
    background-color: slategray;
    color: black;
    border: none;
    border-radius: 50%;
    outline: none;
}
.search-icon{
    font-size: 20px;
    color: white;
}

.filter{
    padding: 15px;
    border-radius: 25px;
    color: grey;
}

.search-field:hover,.search-btn:hover, .filter:hover{
    transition: all 0.1s ease-in-out;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.7);
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
}

.search-field:active{
    color: rebeccapurple;
}

.invite-btn{
    border:0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background-color:rebeccapurple;
    color: whitesmoke;
    font-family: "Bree Serif", serif;
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.3);
}

.invite-btn:hover{
    transition: all 0.1s ease-in-out;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.7);
    background-color: black;
}

.invite-btn:active{
    transition: all 0.1s ease-in-out;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.7);
    background-color: palevioletred;
}

