<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bandmeetup Wow: Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/forms.css?<?php echo rand();?>}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<style>

</style>
<header>
    <div th:include="fragments/header :: header"> </div>
</header>
<body>
<div class="container" id="container-reg">
    <div class="reg-wrapper" id="regWrapper">
        <div class="reg-form" id="regForm">

            <div class="title-section">
                <h2>Edit Event</h2>
                <p th:if="${{(param.error != null)}}" class="error-message">Error occurred, please try again. </p>

            </div>
            <form method="POST" th:action="@{/edit_event/} + ${event.getID()}">
                <div class="reg-section" id="reg_sec">
                    <div class="input-fields">
                        <i class="fas fa-user"></i>
                        <input name="title"  id="title" type="text" class="input" th:value="${event.getTitle()}" placeholder="Title">
                    </div>

                    <div class="input-fields">
                        <i class="fas fa-user"></i>
                        <input name="desc"  id="desc" type="text" class="input" th:value="${event.getDescription()}" placeholder="Description">
                    </div>

                    <div class="input-fields">
                        <i class="fas fa-user"></i>
                        <input name="date"  id="date" type="date" class="input" th:value="${event.getSimpleDate()}" placeholder="Date dd/mm/yyyy">
                    </div>
                    <div class="input-fields">
                        <i class="fas fa-user"></i>
                        <select id="action" name="action" required>
                            <option class="opt" value="edit">Edit</option>
                            <option class="opt" value="delete">Delete</option>
                        </select>
                    </div>
                    <input class="btn" type="submit" value="Submit" onclick="confirm('Confirm Action?')"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<footer>
    <div th:include="fragments/footer :: footer"> </div>
</footer>
</html>