<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bandmeetup Wow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/forms.css}" rel="stylesheet"/>
</head>
<style>

</style>
<header>
    <div th:include="fragments/header :: header"> </div>
</header>
<body>
    <div class="form">
        <form method="POST" action="/login">
            <label for="uname">Username:</label>
            <input id="uname" name="uname" type="text"><br>
            <label for="pw">Password:</label>
            <input id="pw" name="pw" type="password"><br>
            <input type="submit" value="Login">
        </form>
<!--        <input type="submit" action="/register" method="GET" value="Sign Up!"></input>-->
    </div>
</body>
</html>