<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bandmeetup Wow: Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/forms.css?<?php echo rand();?>}" rel="stylesheet"/>


</head>
<style>

</style>
<header>
    <div th:include="fragments/header :: header"> </div>
</header>
<body>
    <!--
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <div class="form">
        <p th:if="${reg_success == True}" class="success-message">Registration Succesful, Please Sign In.</p>
        <p th:if="${error == True}" class="error-message">Authentication unsuccessful, please try again. </p>
        <form method="POST" action="/login">
            <label for="uname">Email:</label>
            <input id="uname" name="uname" type="text" required><br>
            <label for="pw">Password:</label>
            <input id="pw" name="pw" type="password" required><br>
            <input type="submit" value="Login">
        </form>
        <form method="GET" action="/register">
            <input type="submit" value="Sign Up!">
        </form>

    </div> -->

    <div class="container">
        <div class="login-wrapper">
            <div class="login-form">
                <div class="title-section">
                    <h2>Login form</h2>
                </div>
                <form method="POST" action="/login">
                    <div class="login-section">

                        <div class="input-fields">
                            <i class="fas fa-user"></i>
                            <input name="uname" type="text" class="input" placeholder="Username">
                        </div>

                        <div class="input-fields">
                            <i class="fas fa-unlock-alt"></i>
                            <input class="input" name="pw" type="password" placeholder="Password">
                            <a href="#">Forget?</a>
                        </div>
                        <div class="btn"><input id="submit" type="submit" name="Login" value="Login"></div>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- container -->

    <footer >
    <div th:include="fragments/footer :: footer"> </div>
    </footer>

<script>

</script>

</body>
</html>
