<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bandmeetup Wow: Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/forms.css?<?php echo rand();?>}" rel="stylesheet"/>
</head>
<style>

</style>
<header>
    <div th:include="fragments/header :: header"> </div>
</header>
<body>
    <div class="container">
        <div class="login-wrapper">
            <div class="login-form">
                <div class="title-section">
                    <h2>Login form</h2>
                </div>
                <p th:if="${{(param.reg_success != null)}}" class="success-message">Registration Succesful, Please Sign In.</p>
                <p th:if="${{(param.error != null)}}" class="error-message">Authentication unsuccessful, please try again. </p>
                <form method="POST" action="/login">
                    <div class="login-section">
                        <div class="input-fields">
                            <i class="fas fa-user"></i>
                            <input name="uname" type="text" class="input" placeholder="Username">
                        </div>

                        <div class="input-fields">
                            <i class="fas fa-unlock-alt"></i>
                            <input class="input" name="pw" type="password" placeholder="Password">
                            <a href="#">Forget?</a>
                        </div>
                        <div class="btn"><input id="submit" type="submit" name="Login" value="Login"></div>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- container -->

    <footer >
    <div th:include="fragments/footer :: footer"> </div>
    </footer>

</body>
</html>
