<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name's Profile</title>
    <link th:href="@{/css/profile.css?<?php echo rand();?>}" rel="stylesheet"/>
    <link th:href="@{/css/forms.css?<?php echo rand();?>}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<header>
        <div  th:include="fragments/header :: header"> </div>
</header>
<body>

<div class="container">

<!-- Profile -->
<div class="profile-section-wrapper">
    <div th:include="fragments/profile_top :: profile-header" class="profile-header">
    </div> <!-- .profile-left-side -->
    <div class="main-bd">
    <div th:include="fragments/profile_left :: profile-left">
    </div>
    <div th:include="fragments/profile_right :: profile-right">
    </div>



    </div>  <!-- .main-bd -->
</div> <!-- .profile-section-wrapper -->
</div><!-- Container -->
<footer >
    <div th:include="fragments/footer :: footer"> </div>
</footer>
</body>
</html>