<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bandmeetup Wow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link th:href="@{/css/forms.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{https://pro.fontawesome.com/releases/v5.10.0/css/all.css}"/>

    <script th:src="@{/javascript/jquery.js}"></script>
    <script th:src="@{/javascript/ddtf.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/usersearchselection.js}"></script>


</head>
<header>
    <div th:include="fragments/header :: header"> </div>
</header>
<body>
<div class="container">
    <form method="post" action="/search">
    <div class="search-wrapper">
        <div class="search-bar">
            <form th:action="@{/search}">
            <input type="text" name="searchBar" id="searchBar" class="search-field user" placeholder="Search your BandMate here. . . . " th:value="${keyword}" required>
            <select onchange="change(this)" name = "usersearchfilter" class="filter" th:value="*{userfilter}" id="filter-options">
                <option >Select Filter</option>
                <option th:value="'musician'">Musician</option>
                <option th:value="'venuemanager'">Venuemanager</option>
            </select>
            <select name = "searchfilter" class="filter" th:value="*{searchfilter}" id="musicfilter-options" style="display: none;" required>
                <option >Select Filter</option>
                <option th:value="'status'">Status</option>
                <option th:value="'instruments'">Instrument</option>
                <option th:value="'genre'">Genre</option>
                <option th:value="'location'">Zip Code</option>
            </select>
            <select name = "searchfilter" class="filter" th:value="*{searchfilter}" id="venuefilter-options" style="display: none;" required>
                <option >Select Filter</option>
                <option th:value="'location'">Zip Code</option>
                <option th:value="'name'">Name</option>
            </select>
            <!-- <input type="text" name="location-filter" class="search-field location" placeholder="Location"> -->

            <button class="search-btn" id="btnClear" onclick="clearSearch()"><i class="fas fa-search search-icon"></i></button>
            </form>
            <script type="text/javascript">
                function clearSearch() {
                    window.location = "[[@{/search}]]";
                }
            </script>
        </div> <!-- search-bar -->

        <div th:if="${userfilter}=='musician'" class="search-result">
            <table class="table-sortable" >
                <thead>
                <tr id="header">
                    <th>Profile</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Instrument</th>
                    <th>Genre</th>
                    <th>
                        Zip Code
                    </th>
                    <th>Invite</th>
                    <th>Profile</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="musician : ${musicians}">
                    <td></td>
                    <td th:text="${musician.name}"></td>
                    <td th:text="${musician.status}"></td>
                    <td th:text="${musician.instruments}"></td>
                    <td th:text="${musician.genre}"></td>
                    <td th:text="${musician.location}"></td>
                    <td><button class="invite-btn">Invite</button></td>
                    <td>
                        <a th:href="@{'/profile/' + ${musician.email}}">Profile</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div> <!-- search-results -->
        <div th:if="${userfilter}=='venuemanager'" class="search-result">
            <table class="table-sortable" >
                <thead>
                <tr id="header">
                    <th>Name</th>
                    <th>
                        Zip Code
                    </th>
                    <th>Description</th>
                    <th>Profile</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="venumanager : ${venumanagers}">
                    <td th:text="${venumanager.name}"></td>
                    <td th:text="${venumanager.location}"></td>
                    <td th:text="${venumanager.description}"></td>
                    <td>
                        <a th:href="@{'/profile/' + ${venumanager.email}}">Profile</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div> <!-- search-results -->
    </div><!-- search-warpper -->
    </form>
</div>

<div >

<footer >
    <div th:include="fragments/footer :: footer"> </div>
</footer>
<script>

function change(obj) {


    var selectBox = obj;
    var selected = selectBox.options[selectBox.selectedIndex].value;
    var musician = document.getElementById("musicfilter-options");
    var venue = document.getElementById("venuefilter-options");

    if(selected === 'musician'){
        musician.style.display = "block";
        venue.style.display = "none"
    }
    else if(selected === 'venuemanager'){
        venue.style.display = "block";
        musician.style.display = "none";
    }
}
</script>
</body>
</html>
