<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bandmeetup Wow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/search.css?<?php echo rand();?>}">
    <link th:href="@{/css/forms.css?<?php echo rand();?>}" rel="stylesheet"/>
    <link rel="stylesheet" th:href=${"https://pro.fontawesome.com/releases/v5.10.0/css/all.css"} integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <script th:src="@{/javascript/jquery.js}"></script>
    <script th:src="@{/javascript/ddtf.js}"></script>

</head>
<header>
    <div th:include="fragments/header :: header1"> </div>
</header>
<body>
<div class="container">

    <div class="search-wrapper">
        <div class="search-bar">
            <input type="text" name="searchBar" id="searchBar"
                   class="search-field user" placeholder="Search your BandMate here. . . . ">
            <select class="filter">
                <option>Select Filter</option>
                <option>Account Type</option>
                <option>Instrument</option>
                <option>Genre</option>
                <option>Location</option>
            </select>
            <!-- <input type="text" name="location-filter" class="search-field location" placeholder="Location"> -->

            <button class="search-btn"><i class="fas fa-search search-icon"></i></button>

        </div> <!-- search-bar -->

        <div class="search-result">
            <table class="table-sortable" >
                <thead>
                <tr id="header">
                    <th>Profile</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Instrument</th>
                    <th>Genre</th>
                    <th>
                        Location
                    </th>
                    <th>Invite</th>
                </tr>
                </thead>
                <tbody>
                <!--        <?php //Code check here.
                            $db = new PDO("mysql: host=localhost; dbname=BandDB", "root", "");
                            $stmt = $db->prepare("select * from Musician");
                            $stmt->execute();
                            while($row=$stmt->fetch()){
                        ?> -->
                <!-- <tr>
                    <td></td>
                    <td>Vaibhavi</td>
                    <td>Musician</td>
                    <td>Guitar</td>
                    <td>Country</td>
                    <td>14623</td>
                    <td><button class="invite-btn">Invite</button></td>
                </tr> -->
                <tr>
                    <td></td>
                    <td><?php echo $row['FName']?></td>
                    <td><?php echo $row['Status']?></td>
                    <td><?php echo $row['Instruments']?></td>
                    <td><?php echo $row['Genre']?></td>
                    <td><?php echo $row['Location']?></td>
                    <td><button class="invite-btn">Invite</button></td>
                </tr>
                <!-- <?php
                        }
                    ?> -->
                </tbody>
            </table>
        </div> <!-- search-results -->
    </div><!-- search-warpper -->

</div>

<div >

<footer >
    <div th:include="fragments/footer :: footer"> </div>
</footer>

</body>
</html>