<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bandmeetup Wow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/search.css?<?php echo rand();?>}">
    <link th:href="@{/css/forms.css?<?php echo rand();?>}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <script th:src=@{"/javascript/jquery.js"}></script>
    <script th:src=@{"/javascript/ddtf.js"}></script>

</head>
<header>
    <div th:include="fragments/header :: header1"> </div>
</header>
<body>
<div class="container">

    <div class="search-wrapper">
        <div class="search-bar">
            <input type="text" name="searchBar" id="searchBar"
                   class="search-field user" placeholder="Search your BandMate here. . . . ">
            <select class="filter">
                <option>Select Filter</option>
                <option>Account Type</option>
                <option>Instrument</option>
                <option>Genre</option>
                <option>Location</option>
            </select>
            <!-- <input type="text" name="location-filter" class="search-field location" placeholder="Location"> -->

            <button class="search-btn"><i class="fas fa-search search-icon"></i></button>

        </div> <!-- search-bar -->

        <div class="search-display">

            <div class="cards">
                <div class="image">
                    <img src="profile1.jpg">
                </div>
                <div class="title">
                    <h3>Chester</h3>
                </div>
                <div class="desc">
                    <p>
                        <i class="fas fa-user i-user">&nbsp;&nbsp;Musician</i><br>
                        <i class="fas fa-music i-music">&nbsp;&nbsp;Drums</i><br>
                        <i class="fas fa-compact-disc i-compact-disc">&nbsp;&nbsp;Alternative Rock</i><br>
                        <i class="fas fa-globe">&nbsp;&nbsp; 14666</i>
                    </p>
                    <button><i class="fas fa-plus">&nbsp;&nbsp;Invite</i></button>
                </div>
            </div>

            <!-- cards -->
            <div class="cards">
                <div class="image">
                    <img src="profile1.jpg">
                </div>
                <div class="title">
                    <h3>Jerry</h3>
                </div>
                <div class="desc">
                    <p>
                        <i class="fas fa-user i-user">&nbsp;&nbsp;Musician</i><br>
                        <i class="fas fa-music i-music">&nbsp;&nbsp;Guitar</i><br>
                        <i class="fas fa-compact-disc i-compact-disc">&nbsp;&nbsp;Country</i><br>
                        <i class="fas fa-globe">&nbsp;&nbsp; 14623</i>
                    </p>
                    <button><i class="fas fa-plus">&nbsp;&nbsp;Invite</i></button>
                </div>
            </div>

            <!-- cards -->
            <div class="cards">
                <div class="image">
                    <img src="profile1.jpg">
                </div>
                <div class="title">
                    <h3>Taylor</h3>
                </div>
                <div class="desc">
                    <p>
                        <i class="fas fa-user i-user">&nbsp;&nbsp;Musician</i><br>
                        <i class="fas fa-music i-music">&nbsp;&nbsp;Piano</i><br>
                        <i class="fas fa-compact-disc i-compact-disc">&nbsp;&nbsp;Jazz</i><br>
                        <i class="fas fa-globe">&nbsp;&nbsp; 15522</i>
                    </p>
                    <button><i class="fas fa-plus">&nbsp;&nbsp;Invite</i></button>
                </div>
            </div>

            <!-- cards -->
            <div class="cards">
                <div class="image">
                    <img src="profile1.jpg">
                </div>
                <div class="title">
                    <h3>Title Name</h3>
                </div>
                <div class="desc">
                    <p>
                        <i class="fas fa-user i-user">&nbsp;&nbsp;Musician</i><br>
                        <i class="fas fa-music i-music">&nbsp;&nbsp;Piano</i><br>
                        <i class="fas fa-compact-disc i-compact-disc">&nbsp;&nbsp;Jazz</i><br>
                        <i class="fas fa-globe">&nbsp;&nbsp; 15522</i>
                    </p>
                    <button><i class="fas fa-plus">&nbsp;&nbsp;Invite</i></button>
                </div>
            </div>


            <!-- cards -->
            <div class="cards">
                <div class="image">
                    <img src="profile1.jpg">
                </div>
                <div class="title">
                    <h3>Title Name</h3>
                </div>
                <div class="desc">
                    <p>
                        <i class="fas fa-user i-user">&nbsp;&nbsp;Musician</i><br>
                        <i class="fas fa-music i-music">&nbsp;&nbsp;Piano</i><br>
                        <i class="fas fa-compact-disc i-compact-disc">&nbsp;&nbsp;Jazz</i><br>
                        <i class="fas fa-globe">&nbsp;&nbsp; 15522</i>
                    </p>
                    <button><i class="fas fa-plus">&nbsp;&nbsp;Invite</i></button>
                </div>
            </div>

            <!-- cards -->
            <div class="cards">
                <div class="image">
                    <img src="profile1.jpg">
                </div>
                <div class="title">
                    <h3>Title Name</h3>
                </div>
                <div class="desc">
                    <p>
                        <i class="fas fa-user i-user">&nbsp;&nbsp;Musician</i><br>
                        <i class="fas fa-music i-music">&nbsp;&nbsp;Piano</i><br>
                        <i class="fas fa-compact-disc i-compact-disc">&nbsp;&nbsp;Jazz</i><br>
                        <i class="fas fa-globe">&nbsp;&nbsp; 15522</i>
                    </p>
                    <button><i class="fas fa-plus">&nbsp;&nbsp;Invite</i></button>
                </div>
            </div>

        </div> <!-- search-display -->

    </div><!-- search-warpper -->

</div><!--container-->

    <footer >
        <div th:include="fragments/footer :: footer"> </div>
    </footer>

</body>
</html>