<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<header th:fragment="header">
    <head>
        <link href="../../css/header.css"  th:href="@{/css/header.css}" rel="stylesheet" media="all">
    </head>
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a class="title" href="#">BandMeetup</a>
                </div>
            </div>

            <div class="right-side">
                <div class="nav-link-wrapper">
                    <a href="registration.html">SIGN UP</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="login.html">LOGIN</a>
                </div>
            </div>
        </div>
</header>
<body>
</body>
</html>