<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="header">
<header th:if="${session.isEmpty()}">
    <head>
        <link  th:href="@{/css/header.css?<?php echo rand();?>}" rel="stylesheet" media="all">
        <title></title>
    </head>
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a class="title" href="#">BandMeetup</a>
                </div>
            </div>

            <div class="right-side">
                <div class="nav-link-wrapper">
                    <a th:href="@{/register}">SIGN UP</a>
                </div>
                <div class="nav-link-wrapper">
                    <a th:href="@{/login}">LOGIN</a>
                </div>
            </div>
        </div>
</header>

<header th:if="${!session.isEmpty()}">
    <head>
        <link  th:href="@{/css/header.css}" rel="stylesheet" media="all">
        <title></title>
    </head>
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a class="title" href="#">BandMeetup</a>
            </div>
        </div>

        <div class="right-side">
            <div class="nav-link-wrapper">
                <a th:href="@{/profile/}+${session.email}" href="profile.html">HOME</a>
            </div>

            <div class="nav-link-wrapper">
                <a th:href="@{/search/}">Search Profiles</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="profile.html">INVITE</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="personal.html">CHAT</a>
            </div>
            <!-- <div class="nav-link-wrapper">
                 <a href="index.html">SIGN UP</a>
             </div> -->
            <div class="nav-link-wrapper">
                <a th:href="@{/logout}">LOG OUT</a>
            </div>
        </div>
    </div>
</header>
<body>
</body>
</html>